h1 {
    font-style: bold; 
}

h2, p {
    font-family: verdana;
    font-style: italic;
    width: auto;
}

#header {
    height: 200px;
}

.photoOffamousPlaces{
    float: right;
    width: 20%;
    border-color: black;
    border-width: 1px;
}

a {
    width: auto;
}

img {
    width: 250px;
    height: 200px;
}

body {
    background: #FFF7C9;
    margin: 50px;
    font-size: 1.2em;
    width: 85%;
}

header {
    background-color: #E5D969;
    background-image: url(images/BarcelonaSkyline.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: auto;
    text-align: center;
    vertical-align: auto;
}

    .social-icons-1 {
        padding: 0;
        list-style: none;
        margin: 10px;;
    }
    .social-icons-1 li {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-1 i,
    .social-icons-1 img {
        color: #fff;
        position: absolute;
        top: 18px;
        left: 18px;
        width: 24px;
        height: 24px;
        text-align:center;
        transition: all 0.3s ease-out;
    }
    .social-icons-1 a {
        display: inline-block;
    }
    .social-icons-1 a:before {
        transform: scale(1);
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #337AB7, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.3s ease-out;
    }
    .social-icons-1 a:hover:before {
        transform: scale(0);
        transition: all 0.3s ease-in;
    }
    .social-icons-1 a:hover i,
    .social-icons-1 a:hover img {
        transform: scale(1.8);
        color: #337AB7;
        transition: all 0.3s ease-in;
    }

    footer {
        background-image: url(images/BarcelonaSkylineFooter.jpg);
        width: 100%;
        height: 200px;
        text-align: center;
    }

    form {
        float: right;
        width: 20%;
        margin: 5px;
        padding: 5px;
        font-size: 1em;
        border: black;
        border-style: dotted;
    }

