h1 {
    font-style: bold; 
}

h2, p {
    font-family: verdana;
    font-style: italic;
}

.photoOffamousPlaces{
    float: right;
    width: 20%;
    margin: 5px;
    border-color: black;
    border-width: 1px;
}

a {
    width: auto;
}

img {
    width: auto;
}

body {background: #FFF7C9;}

header {
    background-color: #E5D969;
    height: 150px;
    margin: auto;
    padding: auto;
    text-align: center;
}

    .social-icons-1 {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-1 li {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-1 i,
    .social-icons-1 img {
        color: #fff;
        position: absolute;
        top: 18px;
        left: 18px;
        width: 24px;
        height: 24px;
        text-align:center;
        transition: all 0.3s ease-out;
    }
    .social-icons-1 a {
        display: inline-block;
    }
    .social-icons-1 a:before {
        transform: scale(1);
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #337AB7, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.3s ease-out;
    }
    .social-icons-1 a:hover:before {
        transform: scale(0);
        transition: all 0.3s ease-in;
    }
    .social-icons-1 a:hover i,
    .social-icons-1 a:hover img {
        transform: scale(1.8);
        color: #337AB7;
        transition: all 0.3s ease-in;
    }

    footer {
        text-align: center;
    }

    form {
        background-color: #E5D969;
        float: right;
        width: 300px;
        margin: auto;
        padding: auto;
        height: 100px;
        font-size: 1em;
    }